<form action="/admin/edit" method="POST" autocomplete="off" >
        <input type="hidden" name="_id" value="{{client._id}}">

        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" name="name" placeholder="Name" value="{{client.name}}">
        </div>
        <div class="form-group">
            <label>Surname</label>
            <input type="text" class="form-control" name="surname"  placeholder="Surname" value="{{client.surname}}">
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" name="email"  placeholder="Email" value="{{client.email}}" disabled>
        </div>
        <div class="form-group">
            <label>Alive</label>
            <input name="living" list="living" placeholder="{{client.living}}">
            <datalist id="living">
                <option value="Active" selected>Active</option>
                <option value="Inactive">Inactive</option>
            </datalist>
        </div>
        <div class="form-group">
            <label>Role</label>
        <input name="role" list="role" placeholder="{{client.role}}" >
            <datalist id="role">
                <option value="User">User</option>
                <option value="Admin">Admin</option>
            </datalist>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-info">Submit</button>
            <a href="/admin" class="btn btn-danger">
                <i class="fa fa-list-alt"></i>View All
            </a>
        </div>


</form>